<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Fácil</title>
    <link rel="icon" href="{{ url_for('static', filename='images/Captura_de_tela_2025-08-21_194917-removebg-preview (1).png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <script src="{{ url_for('static', filename='pg_inicial.js') }}"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('pg_inicial') }}"><img class="logo" src="{{ url_for('static', filename='images/Captura_de_tela_2025-08-21_194917-removebg-preview (1).png') }}" alt="Logo Ponto Fácil"></a>
        <h1>Ponto Fácil</h1>
        <a class="link" href="{{ url_for('pg_mrc_ponto') }}"><img class="icon" src="{{ url_for('static', filename='images/mcr_ponto.png') }}" alt=""><h2>Bater ponto</h2></a>
        <a class="link" href="{{ url_for('pg_lembrete') }}"><img class="icon" src="{{ url_for('static', filename='images/lembrete.png') }}" alt=""><h2>Lembrete de ponto</h2></a>
        <a class="link" href="{{ url_for('pg_justificativa') }}"><img class="icon" src="{{ url_for('static', filename='images/justificativa.png') }}" alt=""><h2>Justificativa de ponto</h2></a>
        <a class="link" href="{{ url_for('pg_dados_pessoais') }}"><img class="icon" src="{{ url_for('static', filename='images/usuario.png') }}" alt=""><h2>Dados Pessoais</h2></a>
        <a class="link" href="{{ url_for('pg_suporte') }}"><img class="icon" src="{{ url_for('static', filename='images/suporte.png') }}" alt=""><h2>Suporte</h2></a>
    </header>
    <br>
    <br>
    <br>    

    <main>
    <!-- Início do Carrossel de Imagens -->
<div class="carousel-container">
    <div class="carousel">
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='images/Captura de tela 2025-08-22 213532.png')}}" alt="Imagem 3">
        </div>
        
        <div class="carousel-slide active">
            <img src="{{ url_for('static', filename='images/Captura de tela 2025-08-26 201949.png')}}" alt="Imagem 1">
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='images/pontoeditado.jpg')}}" alt="Imagem 2">
        </div>
        
        
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='images/rapaz batendo ponto.png')}}" alt="Imagem 4">
        </div>
        <div class="carousel-slide">
            <img src="{{ url_for('static', filename='images/Colegas de trabalho em harmonia.png')}}" alt="Imagem 5">
        </div>
    </div>

    <!-- Botões de Navegação -->
   
    <!-- Indicadores -->
    <div class="carousel-indicators">
        <span class="indicator active" onclick="currentSlide(1)"></span>
        <span class="indicator" onclick="currentSlide(2)"></span>
        <span class="indicator" onclick="currentSlide(3)"></span>
        <span class="indicator" onclick="currentSlide(4)"></span>
        <span class="indicator" onclick="currentSlide(5)"></span>
    </div>
</div>
<!-- Fim do Carrossel de Imagens -->
    </main>
    <footer>
    
    </footer>
</body>
</html>