<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Fácil</title>
    <link rel="icon" href="{{ url_for('static', filename='images/Captura_de_tela_2025-08-21_194917-removebg-preview (1).png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
    <script src="{{ url_for('static', filename='pg_justificativa.js') }}"></script>
</head>
<body>
    <header>
        <a href="{{ url_for('pg_inicial') }}"><img class="logo" src="{{ url_for('static', filename='images/Captura_de_tela_2025-08-21_194917-removebg-preview (1).png') }}" alt="Logo Ponto Fácil"></a>
        <h1>Ponto Fácil</h1>
        <a class="link" href="{{ url_for('pg_mrc_ponto') }}"><img class="icon" src="{{ url_for('static', filename='images/mcr_ponto.png') }}" alt=""><h2>Bater ponto</h2></a>
        <a class="link" href="{{ url_for('pg_lembrete') }}"><img class="icon" src="{{ url_for('static', filename='images/lembrete.png') }}" alt=""><h2>Lembrete de ponto</h2></a>
        <a class="link" href="{{ url_for('pg_justificativa') }}"><img class="icon" src="{{ url_for('static', filename='images/justificativa.png') }}" alt=""><h2>Justificativa de ponto</h2></a>
        <a class="link" href="{{ url_for('pg_dados_pessoais') }}"><img class="icon" src="{{ url_for('static', filename='images/usuario.png') }}" alt=""><h2>Dados Pessoais</h2></a>
        <a class="link" href="{{ url_for('pg_suporte') }}"><img class="icon" src="{{ url_for('static', filename='images/suporte.png') }}" alt=""><h2>Suporte</h2></a>
    </header>
    <br>
    <br>
    <h1>Justificativa</h1>
    <p>Quando esquecer de bater ponto <br>lembre-se de se justificar</p>
       
    <!-- Mensagem do Flask -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="mensagem">{{ messages[0] }}</div>
        {% endif %}
    {% endwith %}

    <form action="pg_justificativa" method="post">
        <label for="nome">Nome do Funcionário</label>
        <input type="text" id="nome" name="nome" required>


        <label for="data">Data do ponto não registrado:</label>
        <input type="date" id="data" name="data" min="2025-01-01" max="2025-12-31">


        <label for="motivo">Motivo:</label>
        <textarea id="motivo" name="motivo" rows="4" required></textarea>


        <button class="button" type="submit">Enviar Justificativa</button>
    </form>
 
</body>      
</html>

