<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ponto Fácil</title>
    <link rel="icon" href="{{ url_for('static', filename='images/Captura_de_tela_2025-08-21_194917-removebg-preview (1).png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css') }}">
</head>
<body>
  <header>
        <a href="{{ url_for('pg_inicial') }}"><img class="logo" src="{{ url_for('static', filename='images/Captura_de_tela_2025-08-21_194917-removebg-preview (1).png') }}" alt="Logo Ponto Fácil"></a>
        <h1>Ponto Fácil</h1>
        <a class="link" href="{{ url_for('pg_mrc_ponto') }}"><img class="icon" src="{{ url_for('static', filename='images/mcr_ponto.png') }}" alt=""><h2>Bater ponto</h2></a>
        <a class="link" href="{{ url_for('pg_lembrete') }}"><img class="icon" src="{{ url_for('static', filename='images/lembrete.png') }}" alt=""><h2>Lembrete de ponto</h2></a>
        <a class="link" href="{{ url_for('pg_justificativa') }}"><img class="icon" src="{{ url_for('static', filename='images/justificativa.png') }}" alt=""><h2>Justificativa de ponto</h2></a>
        <a class="link" href="{{ url_for('pg_dados_pessoais') }}"><img class="icon" src="{{ url_for('static', filename='images/usuario.png') }}" alt=""><h2>Dados Pessoais</h2></a>
        <a class="link" href="{{ url_for('pg_suporte') }}"><img class="icon" src="{{ url_for('static', filename='images/suporte.png') }}" alt=""><h2>Suporte</h2></a>
  </header>
    <br>
    <br>

  <h1 >Calendário de Lembretes</h1>
  <p>Selecione um dia para adicionar <br>um lembrete de bater o ponto.</p>



  <form action="{{ url_for('pg_lembrete') }}" method="POST">
    <div>
      <label for="name">Nome do Lembrete</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div>
      <label for="data">Escolha a data:</label>
      <input type="date" id="data" name="data" min="2025-01-01" max="2025-12-31" required>
    </div>
    <div>
      <label for="hora">Escolha o horário:</label>
      <input type="time" id="hora" name="hora" required>
    </div>
    <button class="button" type="submit">Salvar Lembrete</button>
</form>

<audio id="alarme" src="{{ url_for('static', filename='audio/alarme.mp3') }}" preload="auto"></audio>

<script src="{{ url_for('static', filename='pg_lembrete.js') }}" defer></script>

<div id="custom-alert" class="alert-box" style="display: none;">
    <p id="alert-message"></p>
    <button id="alert-ok">OK</button>
</div>

</body>
</html>
